
.linha{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-bottom: 3%;
}

.campo{
    width: 40px;
    font-size: 30px;
    height: 40px;
    margin-left: 7px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.568);
    border: none;
    border-radius: 3px;
}

.correct:disabled{
    width: 40px;
    font-size: 30px;
    height: 40px;
    margin-left: 7px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.568);
    border: none;
    border-radius: 3px;
    background-color: rgb(15, 99, 26);
    color: white;
}

.correct:disabled{
    width: 40px;
    font-size: 30px;
    height: 40px;
    margin-left: 7px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.568);
    border: none;
    border-radius: 3px;
    background-color: rgb(15, 99, 26);
    color: white;
}

.have:disabled{
    width: 40px;
    font-size: 30px;
    height: 40px;
    margin-left: 7px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.568);
    border: none;
    border-radius: 3px;
    background-color: rgb(213, 226, 30);
    color: white;
}

.wrong:disabled{
    width: 40px;
    font-size: 30px;
    height: 40px;
    margin-left: 7px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.568);
    border: none;
    border-radius: 3px;
    background-color: rgb(226, 26, 26);
    color: white;
}